In [123]:
import pandas as pd
from datetime import datetime

In [202]:
#load apor CSVs, rename columns and format to dates
variable_rate_df = pd.read_csv('yieldtableadjustable.csv')
variable_rate_df['Years to First Adjustment'] = variable_rate_df['Years to First Adjustment'].str.strip(' ')
variable_rate_df.rename(columns = {'Years to First Adjustment':'date'}, inplace=True)
variable_rate_df['date'] = pd.to_datetime(variable_rate_df['date'])

fixed_rate_df = pd.read_csv('yieldtablefixed.csv')
fixed_rate_df['Term of Loan in Years'] = fixed_rate_df['Term of Loan in Years'].str.strip(' ')
fixed_rate_df.rename(columns = {'Term of Loan in Years':'date'},inplace=True)
fixed_rate_df['date'] = pd.to_datetime(fixed_rate_df['date'])

In [203]:
fixed_rate_df.tail()

,date,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
864,2016-07-25,3.09,3.03,3.02,3.02,2.98,2.98,3.19,3.19,3.33,...,3.49,3.49,3.49,3.49,3.49,3.49,3.49,3.49,3.49,3.49
865,2016-08-01,3.11,3.08,3.05,3.05,2.98,2.98,3.19,3.19,3.32,...,3.52,3.52,3.52,3.52,3.52,3.52,3.52,3.52,3.52,3.52
866,2016-08-08,2.94,2.96,2.93,2.93,2.93,2.93,3.16,3.16,3.31,...,3.47,3.47,3.47,3.47,3.47,3.47,3.47,3.47,3.47,3.47
867,2016-08-15,3.35,3.18,3.02,3.02,2.94,2.94,3.16,3.16,3.29,...,3.49,3.49,3.49,3.49,3.49,3.49,3.49,3.49,3.49,3.49
868,2016-08-22,3.03,3.00,2.91,2.91,2.92,2.92,3.14,3.14,3.25,...,3.47,3.47,3.47,3.47,3.47,3.47,3.47,3.47,3.47,3.47

In [204]:
variable_rate_df.tail()

,date,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
864,2016-07-25,3.28,3.25,3.21,3.21,3.15,3.15,3.21,3.21,3.29,...,3.29,3.29,3.29,3.29,3.29,3.29,3.29,3.29,3.29,3.29
865,2016-08-01,3.29,3.26,3.22,3.22,3.15,3.15,3.21,3.21,3.28,...,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28
866,2016-08-08,3.25,3.21,3.18,3.18,3.11,3.11,3.18,3.18,3.26,...,3.26,3.26,3.26,3.26,3.26,3.26,3.26,3.26,3.26,3.26
867,2016-08-15,3.31,3.27,3.23,3.23,3.15,3.15,3.21,3.21,3.27,...,3.27,3.27,3.27,3.27,3.27,3.27,3.27,3.27,3.27,3.27
868,2016-08-22,3.32,3.28,3.23,3.23,3.15,3.15,3.21,3.21,3.26,...,3.26,3.26,3.26,3.26,3.26,3.26,3.26,3.26,3.26,3.26

In [268]:
class calculator(object):
    
    """calculator object that returns the rate spread variable required for HMDA submissions"""
    def __init__(self, fixed_data, variable_data):
        #load apor data
        self.fixed_data = fixed_data
        self.variable_data = variable_data
    
    #print(calc.fixed_data[calc.fixed_data == lock_date])
    def get_fixed_apor(self, term='30', lock_date='2016-08-21'):
        """returns the fixed APOR value associated with the term and lock in date"""
        while len(calc.fixed_data[term][calc.fixed_data.date == lock_date])<1 and count <10:

            day = int(lock_date[8:10])-1 #cycle day backwards until a match is found
            year = lock_date[:4] 
            month = lock_date[5:7]
            lock_date = year+'-'+month+'-'+str(day)
            #print(lock_date)
        if len(calc.fixed_data[term][calc.fixed_data.date == lock_date]) == 1:
            result = (calc.fixed_data[term][calc.fixed_data.date == lock_date])
            return result
    
    
    def get_variable_apor(self, term='5', lock_date='2016-08-21'):
        """returns the fixed APOR value associated with the term and lock in date"""
        while len(calc.variable_data[term][calc.variable_data.date == lock_date])<1 and count <10:

            day = int(lock_date[8:10])-1 #cycle day backwards until a match is found
            year = lock_date[:4] 
            month = lock_date[5:7] 
            lock_date = year+'-'+month+'-'+str(day)
            #print(lock_date)
        if len(calc.variable_data[term][calc.variable_data.date == lock_date]) == 1:
            result = (calc.variable_data[term][calc.variable_data.date == lock_date])
            return result
        

    def calc_rate_spread(self, apr=5, amort='fixed', lock_date='2016-08-22', term='30', lien='1'):
        """calculates the rates spread based on amortization type, term, lien status and date of lock in"""

        if amort == 'fixed':
            print('getting fixed rate data')
            apor = self.get_fixed_apor(term, lock_date)
        elif amort == 'variable':
            print('getting var rate data')
            apor = self.get_variable_apor(term, lock_date)
        else:
            print(amort)
            raise ValueError("incorrect amortization type")
        
        apor=apor.reindex()
        result = apr-apor
        print(apor)
        print(type(result), result)
        print(type(apor), apor[term])
        #print(apr-apor)
        if lien == '1' and apr-apor < 1.5:
            return 'NA'
        elif lien == '2' and apr-apor <3.5:
            return 'NA'
        elif int(lien) > 2:
            return 'NA'
        else:
            return apr-apor
        #use JSON format to accept multiple lines



        #check apor format should be ##.##

In [269]:
calc = calculator(fixed_rate_df, variable_rate_df)
print(calc.calc_rate_spread(apr=6, amort='fixed', lock_date='2016-08-21',term='30', lien='1'))

getting fixed rate data
867    3.49
Name: 30, dtype: float64
<class 'pandas.core.series.Series'> 867    2.51
Name: 30, dtype: float64

KeyError: '30'

In [201]:
calc.get_variable_apor(term='1', lock_date='2016-07-11')

862    3.19
Name: 1, dtype: float64

#test block
lock_date = '2016-08-21	'
term = '1'

#print(calc.fixed_data[calc.fixed_data == lock_date])

count = 1
while len(calc.fixed_data[term][calc.fixed_data.date == lock_date])<1 and count <10:
    count +=1
    day = int(lock_date[8:10])-1#int(lock_date[3:5]) -1
    year = lock_date[:4] #lock_date[6:]
    month = lock_date[5:7] #lock_date[:2]
    lock_date = year+'-'+month+'-'+str(day)+' '
    print(lock_date)
    if len(calc.fixed_data[term][calc.fixed_data.date == lock_date]) == 1:
        result = (calc.fixed_data[term][calc.fixed_data.date == lock_date])
        print(result)